# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# custom
/src/Urls.js

# IDE
/.vscode

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# custom
./src/Urls.js
sample_menu_card.jpeg
/samples
*.zip
.idea/.gitignore
.idea/menu-card.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/menu_card.xml
