/*  https://coolors.co/be7332-eec89a-f6a466-e67045-f7efd8 */
/* https://coolors.co/d2cbca-f9f8f7-252530-cb8d5e-e4c58c-c49d23 */

.hero-container {
  width: 100%;
  /*height: 100vh;
   /* Full screen height */

  display: flex; /* For centering content */
  justify-content: center;
  align-items: center;
  background-color: blue;

  /* background-color: #ece3d6; */
  /* background-image: url('/bg.png'); */
  /* background-size: cover;
  background-position: center; */

  position: relative;
  /*  /overflow: hidden; /* Optional: for animations or hidden elements */
}

.app {
  text-align: center;
  /* background-color: #252530; */
  /* background-color: #ece3d6; */
  color: #0b1f24;
  font-family: 'Amatic SC', cursive;
  display: flex;
  font-size: larger;
  width: 100%;
  justify-content: center;
}

.title-box {
  align-items: center;
  flex-direction: column;
}

.secondary-title {
  color: #0b1f24;

  /* color: #d2cbca; */
  font-size: 50px;
  font-family: 'Anton', sans-serif;
}

.main-title {
  /* border: 2px solid white; */
  font-family: 'Pacifico', cursive;
  color: #fffffc;
  /* color: #c49d23; */
  font-weight: 900;
  font-size: 40px;
  text-decoration-color: #d2cbca;
}

u.main-title {
  text-decoration-color: #d2cbca;
}

.category-title {
  font-family: 'Pacifico', cursive;
  color: #cb8d5e;
  font-weight: 800;
  font-size: 30px;
}

.item-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed;
  font-size: 30px;
}

.dev {
  background-color: blue;
}

.top-bar {
  background-color: #bf6b63;
}
