@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-dark-red: #73020C;
  --color-red: #8C3604;
  --color-muted-ochre: #E6C783;
  --color-medium-brown: #9c5c2d;
  --color-muted-red: #9c4b3a;
  --color-cream: #fff2d5;
  --color-caramel: #c98c48;
  --color-beige: #f0d297;
  --color-stone: #31280C;
}

.app-container {
  width: 100%;
  display: flex; /* For centering content */
  justify-content: center;
  align-items: center;
  background-color: var(--color-cream);
  position: relative;
}

.app {
  text-align: center;
  color: #0b1f24;
  font-family: 'Amatic SC', cursive;
  display: flex;
  font-size: larger;
  width: 100%;
  justify-content: center;
}

.title-box {
  align-items: center;
  flex-direction: column;
}

.secondary-title {
  color: var(--color-stone);
  font-size: 50px;
}

.main-title {
  font-family: 'Poppins', cursive;
  color: #fffffc;
  font-weight: 900;
  font-size: 400px;
  text-decoration-color: #d2cbca;
}

u.main-title {
  text-decoration-color: #d2cbca;
}

.category-title {
  font-weight: 800;
  font-size: 60px;
  color: var(--color-cream);
}

.item-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed;
}

.dev {
  background-color: blue;
}

.top-bar {
  color: var(--color-cream);
  background-color: var(--color-dark-red);
}

.category {
  width: 90vw;
  background-color: var(--color-caramel);
}

.section-divider {
  background-color: var(--color-stone);
}

.about {
  /* background-color: var(--color-caramel); */
  /* color: var(--color-stone); */
}

.contact {
  background-color: var(--color-caramel);
  /* color: var(--color-stone); */
}

.contact h1 {
  font-size: 20px;
  font-weight: 800;
}

.about-container {
  background-color: var(--color-cream);
  color: var(--color-stone);
}
/* When resolution <= 1200px, hide full text and show short text */
@media (max-width: 1200px) {
    .category-title { font-size: 40px; }
    .secondary-title { font-size: 30px; }
}

/*
  light: '#f0d297',   // Light beige background
  dark: '#582f0e',    // Dark brown (outline)
  medium: '#9c5c2d',  // Table / syrup
  cream: '#fff2d5',   // Ice cream
  orange: '#b5733d',  // Chocolate detail
  caramel: '#c98c48'  // Soft caramel */
  