.category-creator-box h1 {
    align-self: center;
}

.edit-item-box input {
    width: 100%;
}

.edit-item-box span {
    text-align: center;
}

.edit-item-box div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
