.category-creator-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 20px solid #f6a466;
    padding: 1vh;
}

.category-creator-box h1 {
    align-self: center;
}
.item-creator-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 0.25fr 1fr;
}

.item-creator-box input {
    width: 100%;
}

.item-creator-box span {
    text-align: center;
}
