/*  https://coolors.co/be7332-eec89a-f6a466-e67045-f7efd8 */

.admin-box {
    flex-direction: column;
    display: flex;
    text-align: left;
    border: 20px solid #f6a466;
    padding: 1vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f6a466;
}

.category-editor-title {
    /* color: #e67045; */
    font-weight: 800;
}

.item-box {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 1px dashed;
}

.add-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: green;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
